<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm" action="/login" method="POST">
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <div id="error-message" style="color: red; margin-top: 10px;"></div>
    <a href="/signup">Signup</a>

    <section id="about-me" style="margin-top: 20px;">
        <h2>About This Project</h2>
        <p>This project was created by Vinu Maradana (a third-year CS with Bioinformatics major) and Tanishq Rathore (a second-year Cognitive Science and Machine Learning major). Both students from the ECE140A class have utilized IoT, software, and hardware to bring this project to life.</p>
    </section>

    <script src="/static/script.js"></script>
</body>
</html>
